.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 30px auto;
  max-width: 900px;
}

main {
  width: 600px;
}

.nav {
  position: sticky;
  top: 30px;

  display: grid;
}

@media screen and (max-width: 900px) {
  .wrapper {
    grid-template-columns: none;
    margin-top: 0;
  }

  main {
    order: 1;
    width: 90%;
    margin: 5px auto;
  }

  nav {
    position: sticky;
    top: 0;
    order: 0;
  }


}
  
