<h2>{{noPosts}}</h2>
<div class="order-bar">
  
  <div class="order-wrap">
    <p>order by:</p>
    <div class="order-buttons">
      <a [ngClass]="{'active-order': orderIsSelected('posts.id', 'DESC')}" (click)="order('posts.id', 'DESC')">date<fa-icon [icon]="faDownLong"></fa-icon></a>
      <a [ngClass]="{'active-order': orderIsSelected('posts.id', 'ASC')}" (click)="order('posts.id', 'ASC')">date<fa-icon [icon]="faUpLong"></fa-icon></a>
      <a [ngClass]="{'active-order': orderIsSelected('posts.score', 'DESC')}" (click)="order('posts.score', 'DESC')">Score<fa-icon [icon]="faDownLong"></fa-icon></a>
      <a [ngClass]="{'active-order': orderIsSelected('posts.score', 'ASC')}" (click)="order('posts.score', 'ASC')">Score<fa-icon [icon]="faUpLong"></fa-icon></a>
    </div>
  </div>

  <div class="search">
    <input type="text" [(ngModel)]="search">
    <button (click)="searchPost()"><fa-icon [icon]="faSearch"></fa-icon></button>
    <a class='reset-search' (click)='resetSearchAndGetPosts()'><fa-icon [icon]="faX"></fa-icon></a>
  </div>

</div>
<app-post-item 
  *ngFor="let post of (posts$ | async)" 
  [post]="post" 
  [editMode]="editMode"
  (onDeletePost)="deletePost($event)"
  (onVotePost)="votePost($event)"
  [classUp]="(upvoted$ | async)!.includes(post.id.toString())"
  [classDown]="(downvoted$ | async)!.includes(post.id.toString())"
  >
</app-post-item>

<div class="pagination">
  <button [class.disabled]="currentPage === 1"  (click)="prevPage()" ><fa-icon [icon]="faBackward"></fa-icon></button>

  <div class="input-page">

    <input type="text" [(ngModel)]="selectPage">
    <button [disabled]="selectPage < 1" (click)="getPage()"><fa-icon [icon]="faMagnifyingGlass"></fa-icon></button>

  </div>

  <button [disabled]="(posts$ | async)!.length != 5" (click)="nextPage()" ><fa-icon [icon]="faForward"></fa-icon></button>
</div>
