<h2>{{noPosts}}</h2>
<app-post-item 
  *ngFor="let post of (posts$ | async)" 
  [post]="post" 
  [editMode]="editMode"
  (onDeletePost)="deletePost($event)"
  (onUpvotePost)="votePost($event)"
  [classUp]="(upvoted$ | async)!.includes(post.id.toString())"
  [classDown]="(downvoted$ | async)!.includes(post.id.toString())"
  >
</app-post-item>
<div class="pagination">
  <button [class.disabled]="currentPage === 1"  (click)="prevPage()" ><fa-icon [icon]="faBackward"></fa-icon></button>

  <div class="input-page">

    <input type="text" [(ngModel)]="selectPage">
    <button [disabled]="selectPage < 1" (click)="getPage(selectPage)"><fa-icon [icon]="faMagnifyingGlass"></fa-icon></button>

  </div>

  <button [disabled]="(posts$ | async)!.length != 5" (click)="nextPage()" ><fa-icon [icon]="faForward"></fa-icon></button>
</div>
