/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form {
  display: grid;
  margin: 0 auto;

  padding: 10px 40px;

  border: 1px solid grey;
  border-radius: 4px;

  input,select, button, textarea  {
    margin-bottom: 10px;
  }

  button {
    background-color: rgb(158, 148, 215);
    border: none;
    padding: 7px;
    color: white;
    font-weight: bold;
    border-radius: 4px;
  }

  button:hover {
    filter: brightness(1.1);
  }
}