<div class="wrapper">

  <form class="form register" [formGroup]="registerForm">

      <label for="name">Name</label>
      <input type="text" formControlName="name">

      <label for="email">e-mail</label>
      <input type="email" formControlName="email">

      <label for="country">Country</label>
      <select class="custom-select" formControlName="country">
    
        <option disabled >Choose Country</option>
        <option *ngFor="let country of countries" [ngValue]="country.name">
          {{country.name}}
        </option>
      </select>

      <label for="password">Password</label>
      <input type="password" formControlName="password">

      <label for="confirm">Confirm Password</label>
      <input type="password" formControlName="confirm">

      <button (click)="register()">register</button>


  </form>

  {{message}}

</div>