.wrapper {
  display: grid;
  grid-template-columns: 10% 1fr;
}

.score {
  display: grid;
  place-items: center;
  align-content: center;
}

.post {
  display: grid;
  gap: 10px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 4px;
  margin-bottom: 10px;

  color: rgb(50, 50, 50);
}

.title p {
  font-size: 0.7rem;
  color: rgb(67, 67, 67);
}

.upvoted {
  color: green;
}

.downvoted {
  color: red
}