<div class="wrapper">
  
  <div class="score">
    <a [class.disable-votes]="!(isLoggedIn$ | async)" (click)="upvote()" [class.upvoted]="classUp"><fa-icon [icon]="faCircleUp"></fa-icon></a>
    <h2>{{post.score}}</h2>
    <a [class.disable-votes]="!(isLoggedIn$ | async)" (click)="downvote()" [class.downvoted]="classDown"><fa-icon [icon]="faCircleDown"></fa-icon></a>
  </div>
  
  <div class="post">
  
    <div class="title">
      <h2>{{post.title}}</h2>
      <p>{{post.timestamp | date: 'dd/MMM/yyyy'}}</p>
    </div>
    
    <p>{{post.text}}</p>
    <p class="user">created by {{post.user}}, from {{post.country}}</p>
  
    <div *ngIf="editMode" class="edit-buttons">
      <a id='edit'(click)="goToEditPost()">edit</a>
      <a id='delete'(click)="deletePost()">delete</a>
    </div>
  
  </div>

</div>
